<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <h1>Welcome to the order of mah'gic</h1>
    <p>you may have to login or sign up to proceed, but, remember ! once you're in you're never out</p>
    <p>Besides, if you're willing to do anything stupid like spilling out our secrets you just have to know there's always someone watching with a wand beneath his cloak</p>
    <form method="get" action="/login">
        <button>Log in</button>
    </form>
    <form method="get" action="/register">
        <button>Sign up</button>
    </form>
</body>
</html>